export username=
export exchange_contract_id="ref-finance-101.testnet"
export farm_contract_id="farm.leopollum.testnet"
export wrap_near_contract_id="wrap.testnet"
export protocol_shares=0
export token1_address="eth.fakes.testnet"
export token2_address="dai.fakes.testnet"
export pool_id_token1_wrap=42
export pool_id_token2_wrap=49
export pool_id_token1_reward=409
export pool_id_token2_reward=408
export reward_token="uxuu.leopollum.testnet"
export farm_id=0
export pool_id=410
# find min_deposit in views.sh
export seed_min_deposit="1000000000000000000"
export croncat_manager="manager_v1.croncat.testnet"
export total_gas=300000000000000
